# Go specific
*.exe
*.exe~
*.dll
*.so
*.dylib
*/.exe
*/.exe~
*/.dll
*/.so
*/.dylib
/vendor/
/Godeps/
/.idea/
/.vscode/
/.DS_Store
/Thumbs.db
/test_output/
/testdata/
/test/
/docs/
/bin/
/pkg/
/.cache/
/.vs/
*.test
*.prof
*.trace
*.out